.catalogue-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    height: 90vh;
    overflow-y: auto;
}

.catalogue-grid h2 {
    font-size: 1em;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .catalogue-grid {
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }
}
